# ifile
local*
*.bat
dest
static
static/assets/*
ifile_frontend/pnpm-lock.yaml
ifile_frontend/node_modules
ifile_frontend/.vscode
*.json
*.zip
ifile
ifile.exe
ifile_amd64
ifile_aarch64
ifile_arm64

!ifile_frontend/package.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
